* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #323232;
}

.fondo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background: #fefefe;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.rol {
  font-size: 12px;
  color: gray;
  margin: 0;
}

h2 {
  margin-top: 5px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
}

.opcion:hover {
  background: #eaeaea;
  border-radius: 5px;
  padding-left: 5px;
}

.titulo {
  margin: 0;
  font-weight: bold;
}

.desc {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.cerrar {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); 

  padding: 12px 40px;
  border: none;
  border-radius: 50px; 

  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.cerrar:hover {
  background: rgb(255, 0, 0);
}

.cerrar:hover {
  background: rgb(255, 0, 0);
}